In [1]:
import jieba

In [4]:
jieba.load_userdict("library_new_words.txt")

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\ADMINI~1\AppData\Local\Temp\jieba.cache
Loading model cost 1.484 seconds.
Prefix dict has been built successfully.

In [5]:
import pandas

In [6]:
datas=pandas.read_excel("图书目录.xlsx")

In [9]:
datas["书名"]=datas["书名"].str.strip()

In [10]:
datas["图书分类号"]=datas["图书分类号"].str.strip()

In [13]:
datas[datas["书名"].notnull()]

            图书ID            书名            图书分类号
0       B0000001          大庆指南  F279.273.5-62/1
1       B0000002  寒夜三部曲.第一部,寒夜         I247.5/1
2       B0000003           沧桑路       I247.5/184
3       B0000004             寻         I247.5/4
4       B0000005         曾经深爱过         I247.5/5
...          ...           ...              ...
400961  B0507925      凰权:第一卷.上   I247.57/5445:1
400962  B0507926      凰权:第一卷.中   I247.57/5445:1
400963  B0507927      凰权:第一卷.下   I247.57/5445:1
400964  B0507928          傅雷家书       K825.6/789
400965  B0507929    摆渡人.2,重返荒原    I561.45/751:2

[400694 rows x 3 columns]

In [15]:
datas=datas[datas["书名"].notnull() &  datas["图书分类号"].notnull()]

In [18]:
datas=datas[["书名","图书分类号"]]

In [19]:
datas

                  书名            图书分类号
0               大庆指南  F279.273.5-62/1
1       寒夜三部曲.第一部,寒夜         I247.5/1
2                沧桑路       I247.5/184
3                  寻         I247.5/4
4              曾经深爱过         I247.5/5
...              ...              ...
400961      凰权:第一卷.上   I247.57/5445:1
400962      凰权:第一卷.中   I247.57/5445:1
400963      凰权:第一卷.下   I247.57/5445:1
400964          傅雷家书       K825.6/789
400965    摆渡人.2,重返荒原    I561.45/751:2

[393068 rows x 2 columns]

In [23]:
datas.drop_duplicates()

                  书名            图书分类号
0               大庆指南  F279.273.5-62/1
1       寒夜三部曲.第一部,寒夜         I247.5/1
2                沧桑路       I247.5/184
3                  寻         I247.5/4
4              曾经深爱过         I247.5/5
...              ...              ...
400961      凰权:第一卷.上   I247.57/5445:1
400962      凰权:第一卷.中   I247.57/5445:1
400963      凰权:第一卷.下   I247.57/5445:1
400964          傅雷家书       K825.6/789
400965    摆渡人.2,重返荒原    I561.45/751:2

[349930 rows x 2 columns]

In [25]:
datas=datas.drop_duplicates()

In [26]:
datas

                  书名            图书分类号
0               大庆指南  F279.273.5-62/1
1       寒夜三部曲.第一部,寒夜         I247.5/1
2                沧桑路       I247.5/184
3                  寻         I247.5/4
4              曾经深爱过         I247.5/5
...              ...              ...
400961      凰权:第一卷.上   I247.57/5445:1
400962      凰权:第一卷.中   I247.57/5445:1
400963      凰权:第一卷.下   I247.57/5445:1
400964          傅雷家书       K825.6/789
400965    摆渡人.2,重返荒原    I561.45/751:2

[349930 rows x 2 columns]

In [27]:
datas=datas.reindex()

In [28]:
datas

                  书名            图书分类号
0               大庆指南  F279.273.5-62/1
1       寒夜三部曲.第一部,寒夜         I247.5/1
2                沧桑路       I247.5/184
3                  寻         I247.5/4
4              曾经深爱过         I247.5/5
...              ...              ...
400961      凰权:第一卷.上   I247.57/5445:1
400962      凰权:第一卷.中   I247.57/5445:1
400963      凰权:第一卷.下   I247.57/5445:1
400964          傅雷家书       K825.6/789
400965    摆渡人.2,重返荒原    I561.45/751:2

[349930 rows x 2 columns]

In [32]:
aaaa=pandas.DataFrame(jieba.analyse.extract_tags(x) for x in datas["书名"])

AttributeError: module 'jieba' has no attribute 'analyse'